# Build artifacts
*.prg
*.prg.debug.xml
*.iq

# Compiler intermediates
**/gen/
**/external-mir/
**/internal-mir/

# Keys
developer_key
*.der

# Python
__pycache__/
*.pyc

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# OS
.DS_Store

# Markdown
*.md
*.tmp
